In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [43]:
df = pd.DataFrame({'name':['Jonathan Taylor',
         'Christian McCaffrey'
        ],
 'ranking':[1,2],
 'position':['RB','RB']
})
df

                  name  ranking position
0      Jonathan Taylor        1       RB
1  Christian McCaffrey        2       RB

In [118]:
def add_player(df):
#     for i in df:
    ranking = input(f'Is ranking of next player {int(df.ranking[-1:].values)+1}?\n(y)/n ')
    if ranking != '':
        print(f'The last input player was:\n {df[-1:]}\n\n')
        df = df
        return df
    else:
        df = df
        name = input('Name of Player? : ')
        position = input('Player\'s Position? : ')
        
        df.loc[len(df.index)] = [name, int(df.ranking[-1:].values)+1, position]
        
    keep_on = input('Whould you like to continue? (y)/n : ')
    if (keep_on != '') & (keep_on.lower() != 'y'):
        print('Looks like you\'re done for now!')
        
        return df
    else:
        df = df
        add_player(df)

In [78]:
int(df.ranking[-1:].values)

3

In [119]:
df1 = add_player(df)

Is ranking of next player 18?
(y)/n
Name of Player? : Davante Adams
Player's Position? : WR
Whould you like to continue? (y)/n :
Is ranking of next player 19?
(y)/n Deebo Samuel
The last input player was:
              name  ranking position
17  Davante Adams       18       WR

In [111]:
df14 = df1

In [120]:
type(df1)

NoneType

In [121]:
df

                   name  ranking position
0       Jonathan Taylor        1       RB
1   Christian McCaffrey        2       RB
2         Derrick Henry        3       RB
3           Dalvin Cook        4       RB
4         Austin Ekeler        5       RB
5             Joe Mixin        6       RB
6          Najee Harris        7       RB
7      Justin Jefferson        8       WR
8           Cooper Kupp        9       WR
9            Nick Chubb       10       RB
10       Ja\'Marr Chase       11       WR
11         Alvin Kamara       12       RB
12         Mark Andrews       13       TE
13       Saquon Barkley       14       RB
14        D'Andre Swift       15       RB
15         Travis Kelce       16       TE
16         Stefon Diggs       17       WR
17        Davante Adams       18       WR